# The websockify service unit file
#

[Unit]
Description=BiDirectional socket to a http vnc client
After=syslog.target network.target vncserver\@.service

[Service]
Type=forking
ExecStart=/sbin/runuser -l admin -c "/usr/bin/websockify -D 6080  localhost:5901 "
ExecStop=/sbin/kill $MAINPID

[Install]
WantedBy=multi-user.target
