
# Basic configuration

interface={{ xsce_wireless_lan_iface }}
ssid={{ ssid }}
channel=1
{%if xsce_lan_iface  == "br0" %}
bridge=br0
{% endif %}

# Hardware configuration
driver={{ driver_name }}
ieee80211n=1
hw_mode=g
