- name: Install dependent packages
  yum: name={{ item }}
       state=installed
  with_items:
    - python-psutil
    - expect
  tags:
    - download

- name: Download the latest kalite repo
  git: repo={{ kalite_repo_url }}
       dest={{ downloads_dir }}/ka-lite
       depth=1
       version="0.13.x"
  when: not {{ use_cache }}
  tags:
    - download2

- name: See if kalite is installed
  stat: path="{{ kalite_root }}/kalite/database/data.sqlite"
  register: kalite_installed

- include: install.yml
  when: not kalite_installed.stat.exists == True

- include: enable.yml

- name: Add kalite to service list
  ini_file: dest='{{ service_filelist }}'
            section=kalite
            option='{{ item.option }}'
            value='{{ item.value }}'
  with_items:
    - option: name
      value: kalite
    - option: description
      value: '"KA-Lite is a server to present Khan Academy videos offline and to download them."'
    - option: path
      value: "{{ kalite_root }}"
    - option: server_name
      value: "{{ kalite_server_name }}"
    - option: port
      value: "{{ kalite_server_port }}"
    - option: enabled
      value: "{{ kalite_enabled }}"
    - option: cron_enabled
      value: "{{ kalite_cron_enabled }}"
