@charset "UTF-8";
.bash_output {
	font-size: 12px;
	font-family: "Courier New", Courier, monospace;
}
.nav {
	background-color: #58B948;
}
.help{
	background-color: #ACF486;
}
.banner_right{
	float:right;
	padding: 10px;
}