@charset "UTF-8";
.bash_output {
	font-size: 12px;
	font-family: "Courier New", Courier, monospace;
}
.centerframe{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 18px;
}
.centerpick{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 22px;
}
.nav {
	background-color: #58B948;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #000;
	margin:0;
pp}
.navhead {
	background-color: #ACF486;
}
a.nav {
	background-color: #58B948;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 22px;
	font-style: normal;
	color: #000;
}
.help{
	background-color: #ACF486;
}
.banner_right{
	float: right;
}
.banner_left{
	float: left;
}
.title {alignment-adjust: middle;
}
.help {
	float: right;

}.level1 {
	margin-left:2%;
}
.mH {color:#60c; cursor:pointer;  font-weight:bold; border-top:1px solid #300;}
.mL {display:none;}
.mO {display:block;}
.mS {padding-left:20px;}
                    .centerpick form table tr td {
	font-size: 36px;
}
