@charset "UTF-8";
.bash_output {
	font-size: 12px;
	font-family: "Courier New", Courier, monospace;
}
.centerframe{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
}
.nav {
	background-color: #58B948;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #000;
	margin:0;
pp}
a.nav {
	background-color: #58B948;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #000;
}
.help{
	background-color: #ACF486;
}
.banner_right{
	float: right;
}
.banner_left{
	float: left;
}
.title {alignment-adjust: middle;
}
.help {
	float: right;

}.level1 {
	margin-left:2%;
}
.mC {width:100px; margin:5px; float:right;}
.mH {color:#60c; cursor:pointer;  font-weight:bold; border-top:1px solid #300;}
.mL {display:none; margin-bottom:10px;}
.mO {margin-left:10px; display:block;}
                    