#IIAB Apache2 configuration file

XSendFile on
XSendFilePath /

WSGIScriptAlias /iiab /var/www/html/iiab.wsgi

Alias /iiabstatic /usr/local/lib/python2.7/dist-packages/iiab/static

<Directory /usr/local/lib/python2.7/dist-packages/iiab/static>
	require all granted
</Directory>
