- name: Install python-pip package
  yum: name=python-pip
       state=installed

- name: Clone pathagar repo
  git: repo=https://github.com/PathagarBooks/pathagar.git
       dest=/usr/local/pathagar
       update=yes
       version=master

- name: Install pathagar requirements
  pip: requirements=/usr/local/pathagar/requirements.pip

- name: Create initial db
  shell: python manage.py syncdb --noinput
         chdir=/usr/local/pathagar/
         creates=/usr/local/pathagar/database.db

- name: Upload pathagar xsce admin user
  copy: src=admin.json
        dest=/usr/local/pathagar/books/fixtures/admin.json
        owner=root
        group=root
        mode=0600

- name: Create default admin user
  django_manage: >
         command=loaddata
         app_path=/usr/local/pathagar/
         fixtures=/usr/local/pathagar/books/fixtures/admin.json
#         settings=/usr/local/pathagar/settings.py
#         database=/usr/local/pathagar/database.db

