
# Basic configuration

interface={{ xsce_lan_device }}
ssid=rpi2
channel=1
{%if xsce_lan_device  == "br0" %}
bridge=br0
{% endif %}

# Hardware configuration
driver={{ driver_name }}
ieee80211n=1
hw_mode=g
