#!/bin/sh
. /etc/xsce/xsce.env
GIT_DIR=`pwd`
cd $GIT_DIR

# while we're here untrack local vars
git update-index --assume-unchanged vars/local_vars.yml

# get current version
BRANCH=`git rev-parse --abbrev-ref HEAD`
COMMIT=`git rev-parse --verify HEAD`

cd $XSCE_DIR

if [ -d /usr/lib64/php ]
then
  PHPLIB_DIR=/usr/lib64/php
else
  PHPLIB_DIR=/usr/lib/php
fi

cat <<EOF
{"phplib_dir" : "$PHPLIB_DIR",
"xsce_branch" : "$BRANCH",
"xsce_commit" : "$COMMIT"}
EOF
