[Unit]
Description=Provides xsce-prep
After=network.target local-fs.target

[Service]
Type=forking
PIDFile=/var/run/xsce-prep.pid
ExecStart=/sbin/xsce-prep 

[Install]
WantedBy=multi-user.target

