[Unit]
Description=Provides the Calibre Book Server
After=syslog.target network.target local-fs.target

[Service]
Type=forking
ExecStart=/bin/calibre-server --daemon --port {{ calibre_port }} --with-library {{ calibre_dbpath }} 

[Install]
WantedBy=multi-user.target
