[Unit]
# for DXS, the qos is set up after eth devices are assigned
Requires=NetworkManager.service
After=network.target

[Service]
Type=oneshot

ExecStart=/etc/sysconfig/wshaper

[Install]
WantedBy=multi-user.target
