- name: Server Options Installed
  command: echo Server Options Installed

- name: Stop postgresql service
  service: name=postgresql-xs
           state=stopped
  when: postgresql_install

- name: Start postgresql service
  service: name=postgresql-xs
           state=restarted
  when: postgresql_enabled

- name: Stop authserver service
  service: name=xs-authserver
           state=stopped
           enabled=no
  when: not authserver_enabled and authserver_install

- name: Start xs-authserver service
  service: name=xs-authserver
           state=restarted
  when: authserver_enabled


