<?php
$AUTOCONFIG = array(
  "directory"     => "{{ owncloud_data_dir }}",
  "trusted_domains" =>
    array (
     0 => "{{ xsce_hostname }}.{{ xsce_domain }}",
     1 => "{{ xsce_hostname }}",
     2 => 'localhost',    
    ),
  "overwrite.cli.url" => '',  
);