<?php
$AUTOCONFIG = array(
  'directory'     => '{{ owncloud_data_dir }}',
  'trusted_domains' =>
    array (
     0 => '{{ xsce_hostname }}.{{ xsce_domain }}',
     1 => "{{ xsce_hostname }}",
     2 => 'localhost',
    ), 
  'overwrite.cli.url' => 'http://{{ xsce_hostname }}.{{ xsce_domain }}/owncloud',
  'dbtype' => 'mysql',
  'dbname' => '{{ owncloud_dbname }}',
  'dbhost' => '{{ owncloud_dbhost }}',
  'dbtableprefix' => '',
  'dbuser' => '{{ owncloud_dbuser }}',
  'dbpass' => '{{ owncloud_dbpassword }}',
  'adminlogin' => '{{ owncloud_admin_user }}',
  'adminpass' => '{{ owncloud_admin_password }}',
);
