- name: Create xs-portal directory tree
  file: path={{ item }}
        mode=0755
        owner=root
        group=root
        state=directory
  with_items:
    - /var/www/html/xs-portal
    - /var/www/html/xs-portal/images
    - /var/www/html/xs-portal/incl

- name: Copy xs-portal php files
  copy: src={{ item }}
        dest=/var/www/html/xs-portal
        mode=0644
        owner=root
        group=root
  with_fileglob:
        - xs-portal/index.*.php

- name: Create symlink from index.php to index.en.php as default
  file: src=/var/www/html/xs-portal/index.en.php
        dest=/var/www/html/xs-portal/index.php
        owner=root
        group=root
        state=link

- name: Copy xs-portal css files
  copy: src={{ item }}
        dest=/var/www/html/xs-portal
        mode=0644
        owner=root
        group=root
  with_fileglob:
        - xs-portal/*.css

- name: Copy xs-portal incl files
  copy: src={{ item }}
        dest=/var/www/html/xs-portal/incl
        mode=0644
        owner=root
        group=root
  with_fileglob:
        - xs-portal/incl/*

- name: Copy xs-portal image files
  copy: src={{ item }}
        dest=/var/www/html/xs-portal/images
        mode=0644
        owner=root
        group=root
  with_fileglob:
        - xs-portal/images/*

- name: Install xs-portal config files
  template: src={{ item }}
            dest=/etc/httpd/conf.d/
            owner=root
            group=root
            mode=0644
  with_items:
            - xs-portal.conf
            - xs-portal-lang.inc            

- name: Install xs-portal service discovery
  template: src=service_list.php
            dest=/var/www/html/xs-portal/incl/
            owner=root
            group=root
            mode=0644
