- name: Install avahi announce config files
  template: src=avahi/schoolserver.service
            dest=/etc/avahi/services/schoolserver.service
            owner=avahi
            group=avahi
            mode=640
  when: 'gui_wan == True'
  
- name: Find a clean copy of ssh.service
  shell: "ls /usr/share/doc/ | grep avahi | head -n1"
  register: avahi_ver
  ignore_errors: True
  changed_when: false

- name: Grab a clean copy of ssh.service
  copy: src='/usr/share/doc/{{avahi_ver.stdout}}/ssh.service'
        dest='/etc/avahi/services/'
  when: 'avahi_ver.stdout != ""'

- name: set ssh port for avahi
  lineinfile: dest=/etc/avahi/services/ssh.service
              regexp='<port>$'
              line='    <port>{{ssh_port}}</port>'
              state=present
              backrefs=yes
  when: 'avahi_ver.stdout != ""'

- name: Enable avahi service
  service: name=avahi-daemon
           enabled=yes
