- include: computed_network.yml
  when: not installing
  tags:
    - network
    - network-discover

- include: display-discover.yml
  tags:
    - network-discover

- name: Set hostname
  template: dest=/etc/hostname
            src=network/hostname.j2
            owner=root
            mode=0644
  tags:
    - network
    - domain

- name: Configure /etc/sysconfig/network
  template: src=network/sysconfig.network.j2
            dest=/etc/sysconfig/network
            owner=root
            group=root
            mode=0644
  tags:
    - network
    - domain

- name: Create xs_domain_name flag
  template: src=network/{{ item }}.j2
            dest=/etc/sysconfig/{{ item }}
            mode=0644
  with_items:
    - xs_domain_name
  register: domainname
  tags:
    - network
    - domain

- name: Domain name did not change setting xsce_prepped
  set_fact: 
    xsce_prepped: True
  when: not domainname.changed and xsce_base_ver == gui_version

#TODO: Use vars instead of hardcoded values
- name: Configure short hostname in /etc/hosts
  lineinfile: dest=/etc/hosts
              regexp='^127\.0\.0\.1'
              line='127.0.0.1            localhost.localdomain   localhost   {{ xsce_hostname }}'
              owner=root
              group=root
              mode=0644

- name: Remove fqdn in /etc/hosts without LAN
  lineinfile: dest=/etc/hosts
              regexp='^172\.18\.96\.1'
              state=absent
  when: xsce_lan_iface == "none" and not installing

- name: Configure fqdn in /etc/hosts with LAN
  lineinfile: dest=/etc/hosts
              regexp='^172\.18\.96\.1'
              line='172.18.96.1            {{ xsce_hostname }}.{{ xsce_domain }}      {{ xsce_hostname }}'
              state=present
  when: xsce_lan_iface != "none" and not installing

- name: Configure fqdn in /etc/hosts appliance mode
  lineinfile: dest=/etc/hosts
              regexp='^127\.0\.0\.1'
              line='127.0.0.1            localhost.localdomain   localhost {{ xsce_hostname }}.{{ xsce_domain }} {{ xsce_hostname }}'
              owner=root
              group=root
              mode=0644
  when: xsce_lan_iface == "none" and not installing

##### Start static ip address info for first run #####

# supply an ifcfg if no gateway detected but wan_ip is set
# set user_wan_iface: <device> and use wan_* for static info
- name: Supply wan interface file
  template: src=network/ifcfg-WAN.j2
            dest=/etc/sysconfig/network-scripts/ifcfg-WAN
  when: 'xsce_wan_iface != "none" and wan_ip != "dhcp"'

- include: NM.yml
  when: 'ansible_distribution_version <= "20" and wan_ip != "dhcp"'

- name: Re-read network config files
  shell: 'nmcli con reload'
  ignore_errors: yes
  when: 'ansible_distribution_version >= "21" and wan_ip != "dhcp"'

- name: use upstream nameserver until named is installed
  lineinfile: dest=/etc/resolv.conf
              line='nameserver {{wan_nameserver}}'
              create=yes
              state=present
  when: 'xsce_wan_iface != "none" and wan_ip != "dhcp"'

##### End static ip address info

- include: named.yml
  when: not xsce_prepped
  tags:
    - named
    - network

- include: dhcpd.yml
  when: not xsce_prepped
  tags:
    - dhcpd
    - network

- include: squid.yml
  when: not xsce_prepped
  tags:
    - squid
    - network

- include: wondershaper.yml
  when: not xsce_prepped
  tags:
    - wondershaper
    - network

- include: iptables.yml
  when: not xsce_prepped
  tags:
    - iptables
    - network

- include: avahi.yml
  tags:
    - network

- name: ask systemd to reread the unit files, picks up changes done
  shell: systemctl daemon-reload
  when: not installing

- include: ifcfg_mods.yml
  when: not installing
  tags:
    - network

- name: Create xs network flags
  template: src=network/{{ item }}.j2
            dest=/etc/sysconfig/{{ item }}
            mode=0644
  with_items:
    - xs_wan_device
    - xs_lan_device
  when: not installing
  tags:
    - network

- include: computed_services.yml
  tags:
    - network
 
- include: enable_services.yml
  tags:
    - network

- include: restart.yml
  when: not installing
  tags:
    - network

- include: hostapd.yml
  when: not installing
  tags:
    - network
