- name: Create olpc-scripts directory
  file: path={{ item }}
        owner=root
        group=root
        mode=0755
        state=directory
  with_items:
    - /etc/sysconfig/olpc-scripts/
    - /etc/sysconfig/olpc-scripts/setup.d/installed/

- name: Set hostname
  template: dest=/etc/hostname
            src=network/hostname.j2
            owner=root
            mode=0644

- name: Create xs network flags
  template: src=network/{{ item }}.j2
            dest=/etc/sysconfig/{{ item }}
            mode=0644
  with_items:
    - xs_wan_device
    - xs_lan_device
    - xs_domain_name
  tags:
    - network-discover

- name: Configure /etc/sysconfig/network
  template: src=network/sysconfig.network.j2
            dest=/etc/sysconfig/network
            owner=root
            group=root
            mode=0644

#TODO: Use vars instead of hardcoded values
- name: Configure /etc/hosts
  lineinfile: dest=/etc/hosts
              regexp='^172\.18\.96\.1'
              line='172.18.96.1            {{ xsce_hostname }}.{{ xsce_domain }}      {{ xsce_hostname }}'
              owner=root
              group=root
              mode=0644

- name: Configure /etc/hosts
  lineinfile: dest=/etc/hosts
              regexp='^127\.0\.0\.1'
              line='127.0.0.1            localhost.localdomain   localhost   {{ xsce_hostname }}'
              owner=root
              group=root
              mode=0644

##### Start static ip address info for first run #####

# supply an ifcfg if no gateway detected but wan_ip is set
# set user_wan_iface: <device> and use wan_* for static info
- name: Supply wan interface file
  template: src=network/ifcfg-WAN.j2
            dest=/etc/sysconfig/network-scripts/ifcfg-WAN
  when: 'xsce_wan_iface != "none" and wan_ip != "dhcp"'

- include: NM.yml
  when: 'xsce_wan_iface != "none" and wan_ip != "dhcp"'

- name: use upstream nameserver until named is installed
  lineinfile: dest=/etc/resolv.conf
              line='nameserver {{wan_nameserver}}'
              create=yes
              state=present
  when: 'xsce_wan_iface != "none" and wan_ip != "dhcp"'

- include: avahi.yml
  tags:
    - network

- include: named.yml
  when: not xsce_prepped
  tags:
    - named
    - network

- include: dhcpd.yml
  when: not xsce_prepped
  tags:
    - dhcpd
    - network

- include: squid.yml
  when: not xsce_prepped
  tags:
    - squid
    - network

- include: wondershaper.yml
  when: not xsce_prepped
  tags:
    - wondershaper
    - network

- include: iptables.yml
  tags:
    - iptables
    - network

- include: enable.yml
  tags:
    - network

- name: Create gateway flag
  shell: echo 1 > /etc/sysconfig/olpc-scripts/setup.d/installed/gateway
         creates=/etc/sysconfig/olpc-scripts/setup.d/installed/gateway

- name: Get a list of ifcfg files to delete
  shell: "ls -1 /etc/sysconfig/network-scripts/ifcfg-* | grep -v -e ifcfg-lo  -e ifcfg-WAN"
  register: ifcfg_files
  ignore_errors: True
  changed_when: False

- name: Stop the Access Point Hostapd program
  service: name=hostapd.service
           state=stopped
  ignore_errors: yes
  when: not installing

# Disconnects the slaves quickly, deletes the bridge
- name: Stop the LAN Bridge F21
  shell: 'nmcli con delete "Bridge LAN"'
  ignore_errors: yes
  when: ansible_distribution_version >= "21" and not installing

# might have wifi info if wireless is used as uplink.
- name: Rename supplied gateway ifcfg file to WAN if present
  shell: "mv /etc/sysconfig/network-scripts/ifcfg-{{ discovered_wan_iface }} /etc/sysconfig/network-scripts/ifcfg-WAN"
  ignore_errors: True
  when: discovered_wan_iface != "none"

- name: Now delete all non-gateway ifcfg files
  shell: "rm -f {{ item }} "
  when: item|trim != discovered_wan_iface
  with_items:
    - "{{ ifcfg_files.stdout_lines }}"

# set user_wan_iface: <device> for static
# use wan_* for static info
- name: Supply ifcfg-WAN file
  template: src=network/ifcfg-WAN.j2
            dest=/etc/sysconfig/network-scripts/ifcfg-WAN
  when: 'user_wan_iface != "none" and discovered_wan_iface == "none"'

#- name: Restart NM if gateway was not detected, and not disabled
#  include: NM.yml
#  when: discovered_wan_iface == "none" and user_wan_iface == "auto"

#- name: Re-detect network facts if NM was restarted.
#  setup: filter=ansible_local
#  include: ../../../roles/1-prep/tasks/computed_network.yml
#  when: discovered_wan_iface == "none" and user_wan_iface == "auto"

- name: Configuring LAN interface as xsce_lan_iface
  template: src=network/ifcfg.j2
            dest=/etc/sysconfig/network-scripts/ifcfg-LAN
  when: xsce_lan_iface != "none"

#- name: Turn off NM for WiFi LAN
#  lineinfile: state=present
#              backrefs=yes
#              regexp="NM_CONTROLLED"
#              line="NM_CONTROLLED=no"
#              dest=/etc/sysconfig/network-scripts/ifcfg-LAN
#  when: xsce_lan_iface == "{{ xsce_wireless_lan_iface }}"

# can be more than one wired interface
- name: Wired enslaving ## lan_list_result ## to Bridge
  template: src=network/ifcfg-slave.j2
            dest=/etc/sysconfig/network-scripts/ifcfg-{{ item|trim }}
  when: xsce_lan_iface == "br0" and item|trim != xsce_wireless_lan_iface
  with_items:
      - "{{ lan_list_result.stdout_lines }}"

- name: WiFi enslaving {{ xsce_wireless_lan_iface }} to Bridge
  template: src=network/wifi-slave.j2
            dest=/etc/sysconfig/network-scripts/ifcfg-{{ xsce_wireless_lan_iface }}
  when: xsce_lan_iface == "br0" and xsce_wireless_lan_iface != "none"
  tags:
    - network

# monitor-connection-files defaults to no with F21, F18-F20 defaults to yes
- name: Re-read network config files
  shell: 'nmcli con reload'
  ignore_errors: yes
  when: ansible_distribution_version >= "21" and not installing

- include: restart.yml
  when: not installing
  tags:
    - network

- include: hostapd.yml
  when: not installing
  tags:
    - network
