- name: Install named packages
  yum: name={{ item }}
       state=installed
  with_items:
   - bind
   - bind-utils
  tags:
    - download

# or we have to change the serial number in the config files.
- name: Stop named before copying files
  service: name=named state=stopped
  when: not installing

- name: Set folder permission
  file: path={{ item }}
        owner=named
        group=root
        mode=0755
        state=directory
  with_items:
    - /var/named-xs
    - /var/named-xs/data
    - /etc/sysconfig/olpc-scripts/domain_config.d

- name: Configure named
  template: src={{ item.src }}
            dest={{ item.dest }}
            owner={{ item.owner }}
            group=root
            mode={{ item.mode }}
  with_items:
    - { src: 'named/named-xs.conf.j2', dest: '/etc/named-xs.conf', owner: "root" , mode: '0644' }
    - { src: 'named/named.j2', dest: '/etc/sysconfig/named', owner: "root" , mode: '0644' }
    - { src: 'named/named', dest: '/etc/sysconfig/olpc-scripts/domain_config.d/named', owner: "root" , mode: '0644' }
    - { src: 'named/localdomain.zone', dest: '/var/named-xs/localdomain.zone',owner: "named" , mode: '0644' }
    - { src: 'named/localhost.zone', dest: '/var/named-xs/localhost.zone', owner: "named" , mode: '0644' }
    - { src: 'named/named.broadcast', dest: '/var/named-xs/named.broadcast', owner: "named" , mode: '0644'}
    - { src: 'named/named.ip6.local', dest: '/var/named-xs/named.ip6.local' , owner: "named" , mode: '0644'}
    - { src: 'named/named.local', dest: '/var/named-xs/named.local' , owner: "named" , mode: '0644'}
    - { src: 'named/named.rfc1912.zones', dest: '/var/named-xs/named.rfc1912.zones' , owner: "named" , mode: '0644'}
    - { src: 'named/named.root', dest: '/var/named-xs/named.root' , owner: "named" , mode: '0644'}
    - { src: 'named/named.root.hints', dest: '/var/named-xs/named.root.hints' , owner: "named" , mode: '0644'}
    - { src: 'named/named.zero', dest: '/var/named-xs/named.zero' , owner: "named" , mode: '0644'}
    - { src: 'named/school.external.zone.db', dest: '/var/named-xs/school.external.zone.db' , owner: "named" , mode: '0644'}
    - { src: 'named/school.internal.zone.16.in-addr.db.j2', dest: '/var/named-xs/school.internal.zone.16.in-addr.db' , owner: "named" , mode: '0644'}
    - { src: 'named/school.internal.zone.32.in-addr.db.j2', dest: '/var/named-xs/school.internal.zone.32.in-addr.db' , owner: "named" , mode: '0644'}
    - { src: 'named/school.internal.zone.48.in-addr.db.j2', dest: '/var/named-xs/school.internal.zone.48.in-addr.db' , owner: "named" , mode: '0644'}
# the following two files are not writeable by named, but bind 9.4 cannot discover that fact correctly
    - { src: 'named/school.internal.zone.db', dest: '/var/named-xs/school.internal.zone.db' , owner: "root" , mode: '0644'}
    - { src: 'named/school.local.zone.db', dest: '/var/named-xs/school.local.zone.db' , owner: "root" , mode: '0644'}
    - { src: 'named/school.internal.zone.in-addr.db.j2', dest: '/var/named-xs/school.internal.zone.in-addr.db' , owner: "named" , mode: '0644'}
    - { src: 'named/dummy', dest: '/var/named-xs/data/dummy' , owner: "named" , mode: '0644'}
