# dhcpd service is restarted with NM dispatcher.d script
- name: Stop dhcpd
  service: name=dhcpd
           state=stopped
  when: not dhcpd_enabled

- name: Stop named service
  service: name=named
           state=stopped
  when: not named_enabled

- name: Start named service
  service: name=named
           state=started
  ignore_errors: True
  when: named_enabled

#- name: Stop dansguardian
#  service: name=dansguardian
#          state=stopped
# when: not dansguardian_enabled

- name: Restart dansguardian
  service: name=dansguardian
           state=restarted
  when: dansguardian_enabled

- name: Stop squid service
  service: name=squid
           state=stopped
  when: not squid_enabled

# Squid get re-loaded with dispatcher.d
- name: Restart squid service
  service: name=squid
           state=started
  when: squid_enabled

- name: Restart wondershaper service
  service: name=wondershaper
            state=restarted
  when: wondershaper_enabled

- name: Restart avahi service
  service: name=avahi-daemon
           state=restarted

- name: Create gateway flag
  shell: echo 1 > /etc/sysconfig/olpc-scripts/setup.d/installed/gateway
         creates=/etc/sysconfig/olpc-scripts/setup.d/installed/gateway
  when: xsce_network_mode == "Gateway"

- name: Run iptables
  command: /usr/bin/xs-gen-iptables

- name: Restart iptables service
  service: name=iptables
           state=restarted
  ignore_errors: True
