- name: Install custom profile file
  template: dest=/etc/profile.d/zzz_xsce.sh
            src=prelim/zzz_xsce.sh
            owner=root
            mode=0644
            backup=yes
                    
- name: Disable root login with password 
  lineinfile: backup=yes
              dest=/etc/ssh/sshd_config
              regexp='^PermitRootLogin'
              line='PermitRootLogin without-password'
              state=present
#TODO: use handler to reload ssh

- name: Enable common services
  service: name={{ item }}
           enabled=yes
  with_items:
    - sshd
