# replaces stock moodle.conf installed by moodle-xs.rpm
Alias /moodle-current {{ xsce_base }}/moodle-{{ moodle_version }}

# Moodle public web pages - must be publically accessible
<Directory {{ xsce_base }}/moodle-{{ moodle_version }}>
  Require all granted
</Directory>

# Moodle private data - must NOT be publically accessible
<Directory {{ xsce_base }}/moodle/data>
  Require all denied
</Directory>
