# replaces stock moodle.conf
Alias /moodle {{ xsce_base }}/moodle

# Moodle public web pages - must be publically accessible
<Directory {{ xsce_base }}/moodle>
  Require all granted
</Directory>

# Moodle private data - must NOT be publically accessible
<Directory {{ moodle_data }}
  Require all denied
</Directory>
