# replaces stock moodle.conf installed by moodle-xs.rpm
Alias /moodle {{ xsce_base }}/moodle

# Moodle public web pages - must be publically accessible
<Directory {{ xsce_base }}/moodle>
  Require all granted
</Directory>

# Moodle private data - must NOT be publically accessible
<Directory {{ xsce_base }}/moodle/data>
  Require all denied
</Directory>
