---
- name: Install moodle required packages
  package: name={{ item }}
           state=present
  with_items:
    - python-psycopg2
    - php5-pgsql
  tags:
    - download

- name: see if moodle is already downloaded
  stat: path={{ moodle_base }}/config-dist.php
  register: config_file
  tags:
    - download2

- name: Download the latest moodle repo
  git: repo={{ moodle_repo_url }}
       dest={{ moodle_base }}
       depth=1
       force=yes
       version="MOODLE_{{ moodle_version }}_STABLE"
#  ignore_errors: yes
  when: not {{ use_cache }} and not {{ no_network }} and config_file.exists is defined and not config_file.exists
  tags:
    - download2

- name: Give apache permission to write moodle directory (config file)
  file: path={{ moodle_base }}
        group=www-data
        mode=0775
        state=directory

- name: Give apache permission to write moodle data directory
  file: path={{ content_base }}/dbdata/moodle
        owner=www-data
        mode=0775
        state=directory

- name: Create a moodle data dir with apache permission to write 
  file: path={{ moodle_data }}
        owner=www-data
        group=apache
        mode=0770
        state=directory

- name: Remove stock moodle conf
  file: path='/etc/apache2/sites-available/moodle.conf'
        state=absent

- name: Put moodle config file in place
  template: src=022-moodle.j2
            dest=/etc/apache2/sites-available/022-moodle.conf
            owner=root
            group=root
            mode=0644
  when: moodle_enabled

- name: Enable moodle
  file: path=/etc/apache2/sites-enabled/022-moodle.conf
        src=/etc/apache2/sites-available/022-moodle.conf
        state=link
  when: moodle_enabled

- name: Disable moodle
  file: path=/etc/apache2/sites-enabled/022-moodle.conf
        state=absent
  when: not moodle_enabled

- name: Stop postgresql
  service: name=postgresql
           state=stopped

- name: Start postgresql-xs
  service: name=postgresql-xs
           state=started

- name: Create db user
  postgresql_user: name=Admin
                   password=changeme
                   role_attr_flags=NOSUPERUSER,NOCREATEROLE,NOCREATEDB
                   state=present
  become: yes
  become_user: postgres

- name: Create database
  postgresql_db: name=moodle
                 encoding=utf8
                 owner=Admin
                 template=template0
                 state=present
  become: yes
  become_user: postgres

- name: Put a startup install script in place
  template: dest={{moodle_base}}
            src=moodle_installer
            mode=0755

- name: Restart postgresql-xs
  service: name=postgresql-xs
           state=restarted

- name: Restart apache
  service: name=apache2
           state=restarted

- name: see if the config.php file exists
  stat: path='{{ moodle_base }}/config.php'
  register: config

- name: Execute moodle startup script
  shell: '{{moodle_base}}/moodle_installer'
  when: moodle_enabled and config.stat.exists is defined and not config.stat.exists
  
- name: Give apache permission to read config file
  file: path={{ moodle_base }}/config.php
        group=apache
        mode=0640
        state=file
  when: moodle_enabled

- name: add moodle to service list
  ini_file: dest='{{ service_filelist }}'
            section=moodle
            option='{{ item.option }}'
            value='{{ item.value }}'
  with_items:
    - option: name
      value: Moodle
    - option: description
      value: '"Access the Moodle learning management system."'
    - option: 'directory path'
      value: '{{ moodle_base }}'
    - option: moodle_enabled
      value: "{{ moodle_enabled }}"
