Alias /top /usr/share/xs-config/cfg/html/top

# XS public web pages - must be publically accessible
<Directory /usr/share/xs-config/cfg/html/top>
    Require all granted
</Directory>

Alias /doc /usr/share/xs-config/cfg/html/doc

<Directory /usr/share/xs-config/cfg/html/doc>
    Require all granted
</Directory>

scriptalias  /cgi /usr/share/xs-config/cfg/html/top/cgi

<Directory /usr/share/xs-config/cfg/html/top/cgi>
    Require all granted
</Directory>
