[Unit]
Description=A distributed, fault-tolerant Jabber/XMPP server
After=network.target

[Service]
Type=oneshot
User=ejabberd
Group=ejabberd
LimitNOFILE=50000
RestartSec=5
EnvironmentFile=/etc/sysconfig/ejabberd-xs
ExecStart=/usr/sbin/ejabberdctl \
		--config $CONFIG_FILE \
		--ctl-config /etc/ejabberd/ejabberdctl.cfg \
		--logs "/var/log/ejabberd" \
		--spool "/var/lib/ejabberd/spool" start
ExecStop=/usr/sbin/ejabberdctl stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
