<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Dextrose Server</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="services.js"></script>
  </head>
  <body onload="loadServices()">
  <div id=container>
    <div id=header>
      <div id=logo><img src="images/logo64.png" alt="logo"></div>
      <div id=sitename><h1>Dextrose Server</h1></div>
    </div>
    <!--<div id=tabs>
      <ul>
        <li><a href="#services">Services</a></li>
        <li><a href="#admin">Administration</a></li>
      </ul>
    </div>-->
    <div id=services>
      <!--<h2>Available services:</h2>-->
      <div id=servicelist>
      <h3>Loading service list...</h3>
      </div>
    </div>
    <div id=footer>
      <p><a href="http://dxs.activitycentral.com">Dextrose Server</a> is developed by <a href="https://activitycentral.com">Activity Central</a></p>
      <p>Check our <a href="https://github.com/activitycentral/dxs">GitHub project</a> to become a part of it!</p>
    </div>
  </div>
  </body>
</html>
