DEVICE={{ xsce_lan_iface }}
BOOTPROTO=none
ONBOOT=yes
DHCPCLASS=
HWADDR={{ hostvars[inventory_hostname]['ansible_' + xsce_lan_iface]['macaddress'] }}
IPADDR={{ lan_ip }}
NETMASK={{ lan_netmask }}
NM_CONTROLLED=yes
DNS1=127.0.0.1
DOMAIN={{ xsce_domain }}

