#
# This file is managed by ansible
#

{% if gw_google_safesearch == False %}
# Google safe browsing is not enforced 
{% else %}


address=/encrypted.google.com/127.0.0.1

# Domain list from http://en.wikipedia.org/wiki/List_of_Google_domains

address=/www.google.com/google.com/216.239.32.20
address=/www.google.ac/google.ac/216.239.32.20
address=/www.google.ad/google.ad/216.239.32.20
address=/www.google.ae/google.ae/216.239.32.20
address=/www.google.com.af/google.com.af/216.239.32.20
address=/www.google.com.ag/google.com.ag/216.239.32.20
address=/www.google.com.ai/google.com.ai/216.239.32.20
address=/www.google.al/google.al/216.239.32.20
address=/www.google.am/google.am/216.239.32.20
address=/www.google.co.ao/google.co.ao/216.239.32.20
address=/www.google.com.ar/google.com.ar/216.239.32.20
address=/www.google.as/google.as/216.239.32.20
address=/www.google.at/google.at/216.239.32.20
address=/www.google.com.au/google.com.au/216.239.32.20
address=/www.google.az/google.az/216.239.32.20
address=/www.google.ba/google.ba/216.239.32.20
address=/www.google.com.bd/google.com.bd/216.239.32.20
address=/www.google.be/google.be/216.239.32.20
address=/www.google.bf/google.bf/216.239.32.20
address=/www.google.bg/google.bg/216.239.32.20
address=/www.google.com.bh/google.com.bh/216.239.32.20
address=/www.google.bi/google.bi/216.239.32.20
address=/www.google.bj/google.bj/216.239.32.20
address=/www.google.com.bn/google.com.bn/216.239.32.20
address=/www.google.com.bo/google.com.bo/216.239.32.20
address=/www.google.com.br/google.com.br/216.239.32.20
address=/www.google.bs/google.bs/216.239.32.20
address=/www.google.bt/google.bt/216.239.32.20
address=/www.google.co.bw/google.co.bw/216.239.32.20
address=/www.google.by/google.by/216.239.32.20
address=/www.google.com.bz/google.com.bz/216.239.32.20
address=/www.google.ca/google.ca/216.239.32.20
address=/www.google.com.kh/google.com.kh/216.239.32.20
address=/www.google.cc/google.cc/216.239.32.20
address=/www.google.cd/google.cd/216.239.32.20
address=/www.google.cf/google.cf/216.239.32.20
address=/www.google.cat/google.cat/216.239.32.20
address=/www.google.cg/google.cg/216.239.32.20
address=/www.google.ch/google.ch/216.239.32.20
address=/www.google.ci/google.ci/216.239.32.20
address=/www.google.co.ck/google.co.ck/216.239.32.20
address=/www.google.cl/google.cl/216.239.32.20
address=/www.google.cm/google.cm/216.239.32.20
address=/www.google.cn/google.cn/216.239.32.20
address=/www.g.cn/g.cn/216.239.32.20
address=/www.google.com.co/google.com.co/216.239.32.20
address=/www.google.co.cr/google.co.cr/216.239.32.20
address=/www.google.com.cu/google.com.cu/216.239.32.20
address=/www.google.cv/google.cv/216.239.32.20
address=/www.google.com.cy/google.com.cy/216.239.32.20
address=/www.google.cz/google.cz/216.239.32.20
address=/www.google.de/google.de/216.239.32.20
address=/www.google.dj/google.dj/216.239.32.20
address=/www.google.dk/google.dk/216.239.32.20
address=/www.google.dm/google.dm/216.239.32.20
address=/www.google.com.do/google.com.do/216.239.32.20
address=/www.google.dz/google.dz/216.239.32.20
address=/www.google.com.ec/google.com.ec/216.239.32.20
address=/www.google.ee/google.ee/216.239.32.20
address=/www.google.com.eg/google.com.eg/216.239.32.20
address=/www.google.es/google.es/216.239.32.20
address=/www.google.com.et/google.com.et/216.239.32.20
address=/www.google.fi/google.fi/216.239.32.20
address=/www.google.com.fj/google.com.fj/216.239.32.20
address=/www.google.fm/google.fm/216.239.32.20
address=/www.google.fr/google.fr/216.239.32.20
address=/www.google.ga/google.ga/216.239.32.20
address=/www.google.ge/google.ge/216.239.32.20
address=/www.google.gf/google.gf/216.239.32.20
address=/www.google.gg/google.gg/216.239.32.20
address=/www.google.com.gh/google.com.gh/216.239.32.20
address=/www.google.com.gi/google.com.gi/216.239.32.20
address=/www.google.gl/google.gl/216.239.32.20
address=/www.google.gm/google.gm/216.239.32.20
address=/www.google.gp/google.gp/216.239.32.20
address=/www.google.gr/google.gr/216.239.32.20
address=/www.google.com.gt/google.com.gt/216.239.32.20
address=/www.google.gy/google.gy/216.239.32.20
address=/www.google.com.hk/google.com.hk/216.239.32.20
address=/www.google.hn/google.hn/216.239.32.20
address=/www.google.hr/google.hr/216.239.32.20
address=/www.google.ht/google.ht/216.239.32.20
address=/www.google.hu/google.hu/216.239.32.20
address=/www.google.co.id/google.co.id/216.239.32.20
address=/www.google.ir/google.ir/216.239.32.20
address=/www.google.iq/google.iq/216.239.32.20
address=/www.google.ie/google.ie/216.239.32.20
address=/www.google.co.il/google.co.il/216.239.32.20
address=/www.google.im/google.im/216.239.32.20
address=/www.google.co.in/google.co.in/216.239.32.20
address=/www.google.io/google.io/216.239.32.20
address=/www.google.is/google.is/216.239.32.20
address=/www.google.it/google.it/216.239.32.20
address=/www.google.je/google.je/216.239.32.20
address=/www.google.com.jm/google.com.jm/216.239.32.20
address=/www.google.jo/google.jo/216.239.32.20
address=/www.google.co.jp/google.co.jp/216.239.32.20
address=/www.google.co.ke/google.co.ke/216.239.32.20
address=/www.google.ki/google.ki/216.239.32.20
address=/www.google.kg/google.kg/216.239.32.20
address=/www.google.co.kr/google.co.kr/216.239.32.20
address=/www.google.com.kw/google.com.kw/216.239.32.20
address=/www.google.kz/google.kz/216.239.32.20
address=/www.google.la/google.la/216.239.32.20
address=/www.google.com.lb/google.com.lb/216.239.32.20
address=/www.google.com.lc/google.com.lc/216.239.32.20
address=/www.google.li/google.li/216.239.32.20
address=/www.google.lk/google.lk/216.239.32.20
address=/www.google.co.ls/google.co.ls/216.239.32.20
address=/www.google.lt/google.lt/216.239.32.20
address=/www.google.lu/google.lu/216.239.32.20
address=/www.google.lv/google.lv/216.239.32.20
address=/www.google.com.ly/google.com.ly/216.239.32.20
address=/www.google.co.ma/google.co.ma/216.239.32.20
address=/www.google.md/google.md/216.239.32.20
address=/www.google.me/google.me/216.239.32.20
address=/www.google.mg/google.mg/216.239.32.20
address=/www.google.mk/google.mk/216.239.32.20
address=/www.google.ml/google.ml/216.239.32.20
address=/www.google.com.mm/google.com.mm/216.239.32.20
address=/www.google.mn/google.mn/216.239.32.20
address=/www.google.ms/google.ms/216.239.32.20
address=/www.google.com.mt/google.com.mt/216.239.32.20
address=/www.google.mu/google.mu/216.239.32.20
address=/www.google.mv/google.mv/216.239.32.20
address=/www.google.mw/google.mw/216.239.32.20
address=/www.google.com.mx/google.com.mx/216.239.32.20
address=/www.google.com.my/google.com.my/216.239.32.20
address=/www.google.co.mz/google.co.mz/216.239.32.20
address=/www.google.com.na/google.com.na/216.239.32.20
address=/www.google.ne/google.ne/216.239.32.20
address=/www.google.com.nf/google.com.nf/216.239.32.20
address=/www.google.com.ng/google.com.ng/216.239.32.20
address=/www.google.com.ni/google.com.ni/216.239.32.20
address=/www.google.nl/google.nl/216.239.32.20
address=/www.google.no/google.no/216.239.32.20
address=/www.google.com.np/google.com.np/216.239.32.20
address=/www.google.nr/google.nr/216.239.32.20
address=/www.google.nu/google.nu/216.239.32.20
address=/www.google.co.nz/google.co.nz/216.239.32.20
address=/www.google.com.om/google.com.om/216.239.32.20
address=/www.google.com.pa/google.com.pa/216.239.32.20
address=/www.google.com.pe/google.com.pe/216.239.32.20
address=/www.google.com.ph/google.com.ph/216.239.32.20
address=/www.google.com.pk/google.com.pk/216.239.32.20
address=/www.google.pl/google.pl/216.239.32.20
address=/www.google.com.pg/google.com.pg/216.239.32.20
address=/www.google.pn/google.pn/216.239.32.20
address=/www.google.com.pr/google.com.pr/216.239.32.20
address=/www.google.ps/google.ps/216.239.32.20
address=/www.google.pt/google.pt/216.239.32.20
address=/www.google.com.py/google.com.py/216.239.32.20
address=/www.google.com.qa/google.com.qa/216.239.32.20
address=/www.google.ro/google.ro/216.239.32.20
address=/www.google.rs/google.rs/216.239.32.20
address=/www.google.ru/google.ru/216.239.32.20
address=/www.google.rw/google.rw/216.239.32.20
address=/www.google.com.sa/google.com.sa/216.239.32.20
address=/www.google.com.sb/google.com.sb/216.239.32.20
address=/www.google.sc/google.sc/216.239.32.20
address=/www.google.se/google.se/216.239.32.20
address=/www.google.com.sg/google.com.sg/216.239.32.20
address=/www.google.sh/google.sh/216.239.32.20
address=/www.google.si/google.si/216.239.32.20
address=/www.google.sk/google.sk/216.239.32.20
address=/www.google.com.sl/google.com.sl/216.239.32.20
address=/www.google.sn/google.sn/216.239.32.20
address=/www.google.sm/google.sm/216.239.32.20
address=/www.google.so/google.so/216.239.32.20
address=/www.google.st/google.st/216.239.32.20
address=/www.google.com.sv/google.com.sv/216.239.32.20
address=/www.google.td/google.td/216.239.32.20
address=/www.google.tg/google.tg/216.239.32.20
address=/www.google.co.th/google.co.th/216.239.32.20
address=/www.google.com.tj/google.com.tj/216.239.32.20
address=/www.google.tk/google.tk/216.239.32.20
address=/www.google.tl/google.tl/216.239.32.20
address=/www.google.tm/google.tm/216.239.32.20
address=/www.google.to/google.to/216.239.32.20
address=/www.google.tn/google.tn/216.239.32.20
address=/www.google.com.tngoogle.com/google.com.tngoogle.com/216.239.32.20
address=/www.google.ac/google.ac/216.239.32.20
address=/www.google.ad/google.ad/216.239.32.20
address=/www.google.ae/google.ae/216.239.32.20
address=/www.google.com.af/google.com.af/216.239.32.20
address=/www.google.com.ag/google.com.ag/216.239.32.20
address=/www.google.com.ai/google.com.ai/216.239.32.20
address=/www.google.al/google.al/216.239.32.20
address=/www.google.am/google.am/216.239.32.20
address=/www.google.co.ao/google.co.ao/216.239.32.20
address=/www.google.com.ar/google.com.ar/216.239.32.20
address=/www.google.as/google.as/216.239.32.20
address=/www.google.at/google.at/216.239.32.20
address=/www.google.com.au/google.com.au/216.239.32.20
address=/www.google.az/google.az/216.239.32.20
address=/www.google.ba/google.ba/216.239.32.20
address=/www.google.com.bd/google.com.bd/216.239.32.20
address=/www.google.be/google.be/216.239.32.20
address=/www.google.bf/google.bf/216.239.32.20
address=/www.google.bg/google.bg/216.239.32.20
address=/www.google.com.bh/google.com.bh/216.239.32.20
address=/www.google.bi/google.bi/216.239.32.20
address=/www.google.bj/google.bj/216.239.32.20
address=/www.google.com.bn/google.com.bn/216.239.32.20
address=/www.google.com.bo/google.com.bo/216.239.32.20
address=/www.google.com.br/google.com.br/216.239.32.20
address=/www.google.bs/google.bs/216.239.32.20
address=/www.google.bt/google.bt/216.239.32.20
address=/www.google.co.bw/google.co.bw/216.239.32.20
address=/www.google.by/google.by/216.239.32.20
address=/www.google.com.bz/google.com.bz/216.239.32.20
address=/www.google.ca/google.ca/216.239.32.20
address=/www.google.com.kh/google.com.kh/216.239.32.20
address=/www.google.cc/google.cc/216.239.32.20
address=/www.google.cd/google.cd/216.239.32.20
address=/www.google.cf/google.cf/216.239.32.20
address=/www.google.cat/google.cat/216.239.32.20
address=/www.google.cg/google.cg/216.239.32.20
address=/www.google.ch/google.ch/216.239.32.20
address=/www.google.ci/google.ci/216.239.32.20
address=/www.google.co.ck/google.co.ck/216.239.32.20
address=/www.google.cl/google.cl/216.239.32.20
address=/www.google.cm/google.cm/216.239.32.20
address=/www.google.cn/google.cn/216.239.32.20
address=/www.g.cn/g.cn/216.239.32.20
address=/www.google.com.co/google.com.co/216.239.32.20
address=/www.google.co.cr/google.co.cr/216.239.32.20
address=/www.google.com.cu/google.com.cu/216.239.32.20
address=/www.google.cv/google.cv/216.239.32.20
address=/www.google.com.cy/google.com.cy/216.239.32.20
address=/www.google.cz/google.cz/216.239.32.20
address=/www.google.de/google.de/216.239.32.20
address=/www.google.dj/google.dj/216.239.32.20
address=/www.google.dk/google.dk/216.239.32.20
address=/www.google.dm/google.dm/216.239.32.20
address=/www.google.com.do/google.com.do/216.239.32.20
address=/www.google.dz/google.dz/216.239.32.20
address=/www.google.com.ec/google.com.ec/216.239.32.20
address=/www.google.ee/google.ee/216.239.32.20
address=/www.google.com.eg/google.com.eg/216.239.32.20
address=/www.google.es/google.es/216.239.32.20
address=/www.google.com.et/google.com.et/216.239.32.20
address=/www.google.fi/google.fi/216.239.32.20
address=/www.google.com.fj/google.com.fj/216.239.32.20
address=/www.google.fm/google.fm/216.239.32.20
address=/www.google.fr/google.fr/216.239.32.20
address=/www.google.ga/google.ga/216.239.32.20
address=/www.google.ge/google.ge/216.239.32.20
address=/www.google.gf/google.gf/216.239.32.20
address=/www.google.gg/google.gg/216.239.32.20
address=/www.google.com.gh/google.com.gh/216.239.32.20
address=/www.google.com.gi/google.com.gi/216.239.32.20
address=/www.google.gl/google.gl/216.239.32.20
address=/www.google.gm/google.gm/216.239.32.20
address=/www.google.gp/google.gp/216.239.32.20
address=/www.google.gr/google.gr/216.239.32.20
address=/www.google.com.gt/google.com.gt/216.239.32.20
address=/www.google.gy/google.gy/216.239.32.20
address=/www.google.com.hk/google.com.hk/216.239.32.20
address=/www.google.hn/google.hn/216.239.32.20
address=/www.google.hr/google.hr/216.239.32.20
address=/www.google.ht/google.ht/216.239.32.20
address=/www.google.hu/google.hu/216.239.32.20
address=/www.google.co.id/google.co.id/216.239.32.20
address=/www.google.ir/google.ir/216.239.32.20
address=/www.google.iq/google.iq/216.239.32.20
address=/www.google.ie/google.ie/216.239.32.20
address=/www.google.co.il/google.co.il/216.239.32.20
address=/www.google.im/google.im/216.239.32.20
address=/www.google.co.in/google.co.in/216.239.32.20
address=/www.google.io/google.io/216.239.32.20
address=/www.google.is/google.is/216.239.32.20
address=/www.google.it/google.it/216.239.32.20
address=/www.google.je/google.je/216.239.32.20
address=/www.google.com.jm/google.com.jm/216.239.32.20
address=/www.google.jo/google.jo/216.239.32.20
address=/www.google.co.jp/google.co.jp/216.239.32.20
address=/www.google.co.ke/google.co.ke/216.239.32.20
address=/www.google.ki/google.ki/216.239.32.20
address=/www.google.kg/google.kg/216.239.32.20
address=/www.google.co.kr/google.co.kr/216.239.32.20
address=/www.google.com.kw/google.com.kw/216.239.32.20
address=/www.google.kz/google.kz/216.239.32.20
address=/www.google.la/google.la/216.239.32.20
address=/www.google.com.lb/google.com.lb/216.239.32.20
address=/www.google.com.lc/google.com.lc/216.239.32.20
address=/www.google.li/google.li/216.239.32.20
address=/www.google.lk/google.lk/216.239.32.20
address=/www.google.co.ls/google.co.ls/216.239.32.20
address=/www.google.lt/google.lt/216.239.32.20
address=/www.google.lu/google.lu/216.239.32.20
address=/www.google.lv/google.lv/216.239.32.20
address=/www.google.com.ly/google.com.ly/216.239.32.20
address=/www.google.co.ma/google.co.ma/216.239.32.20
address=/www.google.md/google.md/216.239.32.20
address=/www.google.me/google.me/216.239.32.20
address=/www.google.mg/google.mg/216.239.32.20
address=/www.google.mk/google.mk/216.239.32.20
address=/www.google.ml/google.ml/216.239.32.20
address=/www.google.com.mm/google.com.mm/216.239.32.20
address=/www.google.mn/google.mn/216.239.32.20
address=/www.google.ms/google.ms/216.239.32.20
address=/www.google.com.mt/google.com.mt/216.239.32.20
address=/www.google.mu/google.mu/216.239.32.20
address=/www.google.mv/google.mv/216.239.32.20
address=/www.google.mw/google.mw/216.239.32.20
address=/www.google.com.mx/google.com.mx/216.239.32.20
address=/www.google.com.my/google.com.my/216.239.32.20
address=/www.google.co.mz/google.co.mz/216.239.32.20
address=/www.google.com.na/google.com.na/216.239.32.20
address=/www.google.ne/google.ne/216.239.32.20
address=/www.google.com.nf/google.com.nf/216.239.32.20
address=/www.google.com.ng/google.com.ng/216.239.32.20
address=/www.google.com.ni/google.com.ni/216.239.32.20
address=/www.google.nl/google.nl/216.239.32.20
address=/www.google.no/google.no/216.239.32.20
address=/www.google.com.np/google.com.np/216.239.32.20
address=/www.google.nr/google.nr/216.239.32.20
address=/www.google.nu/google.nu/216.239.32.20
address=/www.google.co.nz/google.co.nz/216.239.32.20
address=/www.google.com.om/google.com.om/216.239.32.20
address=/www.google.com.pa/google.com.pa/216.239.32.20
address=/www.google.com.pe/google.com.pe/216.239.32.20
address=/www.google.com.ph/google.com.ph/216.239.32.20
address=/www.google.com.pk/google.com.pk/216.239.32.20
address=/www.google.pl/google.pl/216.239.32.20
address=/www.google.com.pg/google.com.pg/216.239.32.20
address=/www.google.pn/google.pn/216.239.32.20
address=/www.google.com.pr/google.com.pr/216.239.32.20
address=/www.google.ps/google.ps/216.239.32.20
address=/www.google.pt/google.pt/216.239.32.20
address=/www.google.com.py/google.com.py/216.239.32.20
address=/www.google.com.qa/google.com.qa/216.239.32.20
address=/www.google.ro/google.ro/216.239.32.20
address=/www.google.rs/google.rs/216.239.32.20
address=/www.google.ru/google.ru/216.239.32.20
address=/www.google.rw/google.rw/216.239.32.20
address=/www.google.com.sa/google.com.sa/216.239.32.20
address=/www.google.com.sb/google.com.sb/216.239.32.20
address=/www.google.sc/google.sc/216.239.32.20
address=/www.google.se/google.se/216.239.32.20
address=/www.google.com.sg/google.com.sg/216.239.32.20
address=/www.google.sh/google.sh/216.239.32.20
address=/www.google.si/google.si/216.239.32.20
address=/www.google.sk/google.sk/216.239.32.20
address=/www.google.com.sl/google.com.sl/216.239.32.20
address=/www.google.sn/google.sn/216.239.32.20
address=/www.google.sm/google.sm/216.239.32.20
address=/www.google.so/google.so/216.239.32.20
address=/www.google.st/google.st/216.239.32.20
address=/www.google.com.sv/google.com.sv/216.239.32.20
address=/www.google.td/google.td/216.239.32.20
address=/www.google.tg/google.tg/216.239.32.20
address=/www.google.co.th/google.co.th/216.239.32.20
address=/www.google.com.tj/google.com.tj/216.239.32.20
address=/www.google.tk/google.tk/216.239.32.20
address=/www.google.tl/google.tl/216.239.32.20
address=/www.google.tm/google.tm/216.239.32.20
address=/www.google.to/google.to/216.239.32.20
address=/www.google.tn/google.tn/216.239.32.20
address=/www.google.com.tn/google.com.tn/216.239.32.20
address=/www.google.com.tr/google.com.tr/216.239.32.20
address=/www.google.tt/google.tt/216.239.32.20
address=/www.google.com.tw/google.com.tw/216.239.32.20
address=/www.google.co.tz/google.co.tz/216.239.32.20
address=/www.google.com.ua/google.com.ua/216.239.32.20
address=/www.google.co.ug/google.co.ug/216.239.32.20
address=/www.google.co.uk/google.co.uk/216.239.32.20
address=/www.google.us/google.us/216.239.32.20
address=/www.google.com.uy/google.com.uy/216.239.32.20
address=/www.google.co.uz/google.co.uz/216.239.32.20
address=/www.google.com.vc/google.com.vc/216.239.32.20
address=/www.google.co.ve/google.co.ve/216.239.32.20
address=/www.google.vg/google.vg/216.239.32.20
address=/www.google.co.vi/google.co.vi/216.239.32.20
address=/www.google.com.vn/google.com.vn/216.239.32.20
address=/www.google.vu/google.vu/216.239.32.20
address=/www.google.ws/google.ws/216.239.32.20
address=/www.google.co.za/google.co.za/216.239.32.20
address=/www.google.co.zm/google.co.zm/216.239.32.20
address=/www.google.co.zw/google.co.zw/216.239.32.20
address=/www.google.com.tr/google.com.tr/216.239.32.20
address=/www.google.tt/google.tt/216.239.32.20
address=/www.google.com.tw/google.com.tw/216.239.32.20
address=/www.google.co.tz/google.co.tz/216.239.32.20
address=/www.google.com.ua/google.com.ua/216.239.32.20
address=/www.google.co.ug/google.co.ug/216.239.32.20
address=/www.google.co.uk/google.co.uk/216.239.32.20
address=/www.google.us/google.us/216.239.32.20
address=/www.google.com.uy/google.com.uy/216.239.32.20
address=/www.google.co.uz/google.co.uz/216.239.32.20
address=/www.google.com.vc/google.com.vc/216.239.32.20
address=/www.google.co.ve/google.co.ve/216.239.32.20
address=/www.google.vg/google.vg/216.239.32.20
address=/www.google.co.vi/google.co.vi/216.239.32.20
address=/www.google.com.vn/google.com.vn/216.239.32.20
address=/www.google.vu/google.vu/216.239.32.20
address=/www.google.ws/google.ws/216.239.32.20
address=/www.google.co.za/google.co.za/216.239.32.20
address=/www.google.co.zm/google.co.zm/216.239.32.20
address=/www.google.co.zw/google.co.zw/216.239.32.20

{% endif %}
