[Unit]
Description=Provides xsce-prep
After=network.target local-fs.target

[Service]
Type=forking
ExecStart=/sbin/xsce-prep 
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target

