- name: Install httpd required packages
  package: name={{ item }}
           state=present
  with_items:
    - apache2
    - php5
  tags:
    - download
  when: ansible_distribution == "Debian"

- name: Create httpd config files
  template: backup=yes
            src={{ item.src }}
            dest={{ item.dest }}
            owner=root
            group=root
            mode={{ item.mode }}
  with_items:
      - { src: '010-xsce.conf.j2' , dest: '/etc/apache2/sites-available/010-xsce.conf', mode: '0755' }
      - { src: 'proxy_ajp.conf.j2' , dest: '/etc/apache2/sites-available/proxy_ajp.conf', mode: '0644' }
      - { src: 'php.ini.j2' , dest: '/etc/php.ini' , mode: '0644' }
      - { src: 'xs-console.conf.j2' , dest: '/etc/apache2/sites-available/xs-console.conf', mode: '0644' }
      - { src: 'xs-http.j2' , dest: '/etc/sudoers.d/xs-http', mode: '0640'}

# remove symlinks for mpm-event, replace with mpm-prefork
- name: Remove mpm event links
  file: path=/etc/apache2/mods-enabled/{{ item }}
        state=absent
  with_items:
      - mpm_event.conf
      - mpm_event.load


- name: create symlinks for mpm-prefork
  file: path=/etc/apache2/mods-enabled/{{ item }}
        src=/etc/apache2/mods-available/{{ item }}
        state=link
  with_items:
      - mpm_prefork.conf
      - mpm_prefork.load

- name: Create http pid dir
  file: path=/var/run/httpd
        mode=0755
        owner=root
        group=root
        state=directory

- name: create admin group
  group: name=admin
         state=present
         
- name: Add apache user to admin group
  user: name=apache
        groups=admin
        state=present
        createhome=no

- name: Create httpd log dir
  file: path=/var/log/apache
        mode=0755
        owner=apache
        group=apache
        state=directory

- name: Create admin group
  group: name=admin
         state=present

- name: Enable httpd
  service: name=apache2
           enabled=yes

