*nat
:PREROUTING ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
{% if squid_enabled == "True" %}
-t nat  -A PREROUTING -i $lan -p tcp --dport 80 ! -d {{lan_ip}} -j DNAT --to {{lan_ip}}:3128
{% endif %}
{% if block_DNS == "True" %}
-t nat  -A PREROUTING -i $lan -p tcp --dport 53 ! -d {{lan_ip}} -j DNAT --to {{lan_ip}}:53
-t nat  -A PREROUTING -i $lan -p udp --dport 53 ! -d {{lan_ip}} -j DNAT --to {{lan_ip}}:53
{% endif %}
{% if xsce_gateway_enabled == "True" %}
-A POSTROUTING -o {{xsce_wan_iface}} -j MASQUERADE
{% endif %}
COMMIT
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT

# Allow ssh access on all interfaces
-A INPUT -m state --state NEW -m tcp -p tcp --dport {{ ssh_port }} -j ACCEPT

# Allow gui access on all interfaces
{% if gui_wan == "True" %}
-A INPUT -m state --state NEW -m tcp -p tcp --dport {{ gui_port }} -j ACCEPT
{% endif %}

# Allow all LAN services
-A INPUT ! -i {{xsce_wan_iface}} -m state --state NEW -j ACCEPT

# NAT is allowed
-A FORWARD -m state --state ESTABLISHED,RELATED -j ACCEPT
-A FORWARD -p icmp -j ACCEPT
-A FORWARD -i lo -j ACCEPT
-A FORWARD -o {{xsce_wan_iface}} -j ACCEPT

# Reject everything else
-A INPUT -j REJECT --reject-with icmp-host-prohibited
-A FORWARD -j REJECT --reject-with icmp-host-prohibited
COMMIT
