#
# School server 1 DHCP Server Configuration file.
#
ddns-update-style interim;
#ignore client-updates;

option domain-name "{{ xsce_domain }}";
option domain-name-servers      172.18.96.1;
option ntp-servers		172.18.96.1;

class "xo1"{
       match if (substring(hardware,1,3)=00:17:c4);
}
class "xo15"{
       match if (substring(hardware,1,3)=20:7c:8f);
}
class "xo175"{
       match if (substring(hardware,1,3)=68:a3:c4);
}

subnet 172.18.96.0 netmask 255.255.224.0 {
	option routers			172.18.96.1;
	option subnet-mask		255.255.224.0;
	option broadcast-address	172.18.127.255;
	# this is the whole range we have available - 8K addresses
	# range                           172.18.96.2 172.18.127.254;
	# instead, we'll save 510 addresses for later. 
	# range                           172.18.96.2 172.18.125.254;
	# the other /24s:
	# -> 172.18.126.0/24 for static IP addresses
	#    for printers, AP management consoles, etc.
	# -> 172.18.127.0/24 for temporary addresses for 
	#    XO activation
	
        # As this subnet is wired or wifi a/b/g, these lease 
	#    times are on the long side

	pool {
		range 172.18.96.2 172.18.123.254;
		allow members of "xo1";
		allow members of "xo15";
		allow members of "xo175";
	}
	pool {
		range 172.18.125.1 172.18.125.254;
		deny members of "xo1";
		deny members of "xo15";
		deny members of "xo175";
	}
	
	default-lease-time 	10800;
	max-lease-time 		21600;
}
