
- name: Set default for discovered hardware
  set_fact:
    wireless_lan_present: False
    driver_name: nl80211
    wifi_id: none
    rpi_model: none
    xo_model: none
    rtc_id: none

- name: Install packages needed to do HW detection
  yum:  name={{ item }}
        state=present
  with_items:
        - i2c-tools
        - bridge-utils
        - usbutils
  when: not {{ use_cache }} and not {{ no_network }}

##  DISCOVER PLATFORMS ######
- name: discover if this is a rpi2 -- if so it has a bcm2709 processor
  set_fact: 
     rpi_model: "rpi2"
  when:  ansible_cmdline["bcm2709.serial"]  is defined
  ignore_errors: true

- name: Discover it this is one of the XO models
  set_fact:
     xo_model: '{{ ansible_local["local_facts"]["xo_model"] }}'

##  DISCOVER ADAPTERS   ######
- name: Detect an i2c rtc if it exists
  shell: "i2cdetect -y 1 | grep -e 68 -e UU | wc | gawk '{print $1}'"
  register: rtc_response
  ignore_errors: yes

- debug: var=rtc_response

- name: Record whether rtc hardware was detected
  set_fact:
     rtc_id: "DS3231"
  when:  rtc_response.stdout > "0"

- name: Check of the identifier for tplink725 is present
  shell: "lsusb | grep 0bda:8179 | wc |gawk '{print $1}'"
  register: usb_response
  ignore_errors: true

- name: Use compiled hostapd, and wpa_supplicant if tplink WM725M
  set_fact:
     wifi_id: tplink_WM725M
     driver_name: rtl871xdrv
  when:  usb_response.stdout|int > 0


