# Setup specific to the Raspberry Pi
#
- name: Load the modules for the RTC
  template: dest=/etc/modules-load.d/rtc.conf
            src=rtc.conf

- name: Put a bash script to bring up rpi network with hostapd AP
  template: src=up-rpi.j2
            dest=/usr/local/sbin/up-rpi
            mode=0755
            owner=root
            group=root
  when: xsce_network_mode != "Appliance" and xsce_wireless_lan_iface != "none"


- name: Add a line in rc.local to execute up-rpi network script
  lineinfile: backup=yes
              line="/usr/local/sbin/up-rpi"
              dest=/etc/rc.d/rc.local
  when: xsce_network_mode != "Appliance" and xsce_wireless_lan_iface != "none"

- name: Remove the line in rc.local that executes up-rpi network script
  lineinfile: state=absent
              regexp="/usr/sbin/up-rpi"
              dest=/etc/rc.d/rc.local
  when: xsce_network_mode == "Appliance" or xsce_wireless_lan_iface == "none"

- name: Instantiate a connection to i2c RTC
  lineinfile: dest=/etc/rc.d/rc.local
              line="echo ds1307 0x68 > /sys/class/i2c-adapter/i2c-1/new_device"
              create=yes
  when:  rtc_id  == "DS3231" 

- name: Delete instantiation if rtc is removed
  lineinfile: dest=/etc/rc.d/rc.local
              regexp="echo ds1307 0x68 > /sys/class/i2c-adapter/i2c-1/new_device"
              state=absent
  when:  rtc_id  != "DS3231" 

- name: Install the standard hostapd if possible
  yum:  name={{ item }}
        state=present
  when: wifi_id  ==  "none" and not {{ use_cache }} and not {{ no_network }}
  with_items:
       - hostapd
       - wpa_supplicant
  when:  not {{ use_cache }} and not {{ no_network }}
 
- name: Download substitute software
  get_url: url="{{ xsce_download_url }}/{{ item }}"  dest={{ downloads_dir}}/{{ item }}
  when: wifi_id  ==  "tplink_WM725M" and not {{ use_cache }} and not {{ no_network }}
  with_items:
     - hostapd_8188
     - wpa_supplicant_8188

- name: Put the substitute files in place
  copy: src={{ downloads_dir }}/hostapd_8188
        dest=/usr/sbin/hostapd
        backup=yes
        mode=0775
        owner=root
        group=root
  when: wifi_id  ==  "tplink_WM725M"

- name: Put the substitute wpa_supplicant in place
  copy: src={{ downloads_dir }}/wpa_supplicant_8188
        dest=/usr/sbin/wpa_supplicant
        backup=yes
        mode=0775
        owner=root
        group=root
  when: wifi_id  ==  "tplink_WM725M"

- name: Use a systemd unit file to start hostapd
  template: src=hostapd.service.j2
            dest=/etc/systemd/system/hostapd.service
            owner=root
            group=root
            mode=0644

- name: Create a config file for hostapd
  template: src=hostapd.conf.j2
            dest=/etc/hostapd/hostapd.conf
            owner=root
            group=root
            mode=0644
  when: xsce_wireless_lan_iface != "none"

- name: ask systemd to reread the unit file, changing roles?
  shell: systemctl daemon-reload

- name: Enable the Access Point Hostapd program
  service: enabled=yes
           name=hostapd.service
  when: xsce_network_mode != "Appliance" and wireless_lan_present

- name: Disable the Access Point Hostapd program
  service: enabled=no
           name=hostapd.service
  when: xsce_network_mode == "Appliance"


