[Unit]
Description=pathagar daemon

[Service]
WorkingDirectory={{ pathagar_dir }}
Environment="DJANGO_SETTINGS_MODULE=pathagar.prod_settings"
ExecStart=/usr/bin/gunicorn --bind 0.0.0.0:{{ pathagar_port }} --pythonpath {{ pathagar_venv }}/lib/python2.7/site-packages/ wsgi

[Install]
WantedBy=multi-user.target
