[Unit]
Description=pathagar daemon

[Service]
WorkingDirectory=/usr/local/pathagar
Environment="DJANGO_SETTINGS_MODULE=pathagar.prod_settings"
ExecStart=/usr/bin/gunicorn --bind 0.0.0.0:7000 --pythonpath /usr/local/pathagar/venv/lib/python2.7/site-packages/ wsgi

[Install]
WantedBy=multi-user.target
