Alias /admin "{{ admin_console_path }}"

<Directory "{{ admin_console_path }}">
    AuthType Basic
    AuthName "Admin Console"
    AuthBasicProvider external
    AuthExternal pwauth
    require valid-user
</Directory>
