---

- name: Install openvpn packages
  yum:  name={{ item }}
        state=present
  with_items:
        - openvpn
  tags:
    - download

- name: Create the directory for keys
  file: dest=/etc/openvpn/keys
        state=directory
        owner=root
        group=root
        mode=0755

- name: Configure openvpn
  template: backup=yes
            src={{ item.src }}
            dest={{ item.dest }}
            owner={{ item.owner }}
            group=root
            mode={{ item.mode }}
  with_items:
    - { src: 'ca.crt', dest: '/etc/openvpn/keys/ca.crt', owner: "root" , mode: '0644' }
    - { src: 'client1.crt', dest: '/etc/openvpn/keys/client1.crt', owner: "root" , mode: '0644' }
    - { src: 'client1.key', dest: '/etc/openvpn/keys/client1.key', owner: "root" , mode: '0600' }
    - { src: 'roadwarrior-client.conf.j2', dest: '/etc/openvpn/roadwarrior-client.conf', owner: "root" , mode: '0644' }
    - { src: 'xsce-vpn.conf.in', dest: '/etc/openvpn/xsce-vpn.conf.in', owner: "root" , mode: '0644' }

- name: put the startup script on the path with other xs scripts
  template: src=xs-vpn
            dest=/usr/bin/xs-vpn
            mode=0755
            owner=root
            group=root

- name: If rc.local does not exist create it
  copy:     src=rc.local
            dest=/etc/rc.d/rc.local
            force=no
            mode=0755
            owner=root
            group=root
  when:
            openvpn_enabled

- name: Make sure rc.local is executable if enabled
  file:     dest=/etc/rc.d/rc.local
            mode=0755
            owner=root
            group=root
  when:
            openvpn_enabled

- name: make openvpn connection automatic
  lineinfile: dest=/etc/crontab
            line="25 *  *  *  * root (/usr/bin/xs-vpn test) > /dev/null"
  when:
            openvpn_enabled and openvpn_cron_enabled

- name: make openvpn connection manual
  lineinfile: dest=/etc/crontab
            regexp=".*/usr/bin/xs-vpn.*"
            state=absent
  when:
            not openvpn_enabled or not openvpn_cron_enabled

- name: start the openvpn tunnel at boot time
  lineinfile:
            dest=/etc/rc.d/rc.local
            line='/usr/bin/xs-vpn test > /dev/null'
  when:
            openvpn_enabled

- name: stop starting the openvpn tunnel at boot time
  lineinfile:
            dest=/etc/rc.d/rc.local
            regexp=".*/usr/bin/xs-vpn.*"
            state=absent
  when:
            not openvpn_enabled

- name: Add openvpn to service list
  ini_file: dest='{{ service_filelist }}'
            section=openvpn
            option='{{ item.option }}'
            value='{{ item.value }}'
  with_items:
    - option: name
      value: "openvpn"
    - option: description
      value: '"Openvpn is a means of Contacting a server anywhere on the internet via a middleman server"'
    - option: middleman_url
      value: "{{ vpn_presence }}"
    - option: port
      value: "{{ openvpn_server_port }}"
    - option: enabled
      value: "{{ openvpn_enabled }}"
    - option: cron_enabled
      value: "{{ openvpn_cron_enabled }}"
